In [1]:
import pandas as pd

df = pd.read_csv("./data/glassdoor_clean_data.csv")
df.head()

,header.sponsored,map.location,benefits.benefitRatingDecimal,rating.ceoApproval,rating.recommendToFriend,rating.starRating,java,python,javascript,sql,...,benefits.highlights.val.name_Share Incentive Plan,benefits.highlights.val.name_Sick Pay,benefits.highlights.val.name_Stock Options,benefits.highlights.val.name_Unpaid Extended Leave,benefits.highlights.val.name_Work From Home,pro_sentiment,con_sentiment,salary.salaries.val.jobTitle,title,salary
0,0,0,3.000000,0.72,0.60,3.3,1,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.666667,-0.062500,Software Engineer,software engineer,40065.985
1,0,0,3.000000,0.72,0.60,3.3,1,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.666667,-0.062500,Senior Software Engineer,senior software engineer,50760.140
2,0,0,3.000000,0.72,0.60,3.3,1,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.666667,-0.062500,Software Developer,software developer,37039.005
3,0,0,3.571429,0.70,0.65,3.5,3,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.531746,0.050926,Senior Software Engineer,senior software engineer,58152.660
4,0,0,3.000000,0.72,0.60,3.3,0,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.527744,0.080587,Software Engineer,software engineer,40065.985

In [2]:
df.shape

(10198, 206)

In [3]:
jobTitle = df['salary.salaries.val.jobTitle']
jobTitle.shape

(10198,)

In [4]:
title = df['title']
title.shape

(10198,)

In [5]:
if jobTitle.str.lower().equals(title):
    print('The two columns are identical.')
else:
    print('The two columns are not identical.')

The two columns are identical.

In [6]:
title.nunique()

189

In [7]:
type(title)

pandas.core.series.Series

In [8]:
unique_titles = sorted(title.unique())
type(unique_titles)

list

In [9]:
unique_title_series = pd.Series(unique_titles)

In [10]:
type(unique_title_series)

pandas.core.series.Series

In [11]:
with open('unique_titles.txt', 'w') as file:
    for element in unique_title_series:
        freq = title.value_counts()[element]
        file.write(f"{element}: {freq}\n")

In [12]:
# Create a DataFrame from the Series
df = pd.DataFrame(title, columns=['title'])

# Define a function to assign job levels based on certain conditions
def assign_job_level(title):
    title = title.lower()
    if 'graduate' in title or 'apprentice' in title or 'junior' in title or 'engineer i' in title or 'se1' in title:
        return 1
    elif ' ii' in title or 'se2' in title:
        return 2
    elif 'senior' in title or 'sr' in title or ' iii' in title:
        return 3
    elif ' iv' in title or 'staff' in title:
        return 4
    elif 'lead' in title or 'principal' in title or 'director' in title or 'president' in title or 'level 7' in title:
        return 5
    else:
        return 2

# Apply the function to the 'title' column to create a new 'job_level' column
df['job_level'] = df['title'].apply(assign_job_level)

In [13]:
df.shape

(10198, 2)

In [14]:
df.to_csv('job_levels.csv', index=False)

In [15]:
unique_title_series.shape

(189,)

In [16]:
words_to_remove = ['graduate', 'apprentice', 'junior', 'se1', ' ii', 'se2', 'senior', 'sr', ' iii', 
' iv', 'staff', 'lead', 'principal', 'president', 'director', 'level 7']

# Create a new DataFrame with a column called "title"
df = pd.DataFrame(unique_title_series, columns=['title'])
def remove_words(string, words):
    for word in words:
        string = string.replace(word, '')
    return string.strip()
jobType_series = unique_title_series.apply(remove_words, args=(words_to_remove,))

unique_jobType_series = sorted(jobType_series.unique())

In [17]:
with open('jobType_series.txt', 'w') as file:
    for element in jobType_series:
        file.write(f"{element}\n")
with open('unique_jobType_series.txt', 'w') as file:
    for element in unique_jobType_series:
        file.write(f"{element}\n")

In [18]:
unique_jobType_series = pd.Series(unique_jobType_series)
unique_jobType_series.shape

(142,)

In [25]:
worktype = ['develop', 'software', 'solution', 'q', 'test', 'support', 'service', 'system', 'infra']
other_work_types = unique_jobType_series[~unique_jobType_series.str.contains('|'.join(worktype))]
with open('other_work_types.txt', 'w') as file:
    for element in other_work_types:
        file.write(f"{element}\n")

In [26]:
df = pd.read_csv("./job_levels.csv")
df.head()

                      title  job_level
0         software engineer          2
1  senior software engineer          3
2        software developer          2
3  senior software engineer          3
4         software engineer          2

In [27]:
# Define a list of column names to create
cols_to_create = ['Development', 'Solution', 'Quality', 'Test', 'Support', 'Service', 'System', 'Infra', 'associate director - it']

# Create the new columns with initial values of 0
for col in cols_to_create:
    df[col] = 0

# Define a function to set column values based on the contents of the "title" column
def set_column_values(row):
    if 'develop' in row['title'].lower() or 'software' in row['title'].lower():
        row['Development'] = 1
    if 'solution' in row['title'].lower():
        row['Solution'] = 1
    if 'q' in row['title'].lower():
        row['Quality'] = 1
    if 'test' in row['title'].lower():
        row['Test'] = 1
    if 'support' in row['title'].lower():
        row['Support'] = 1
    if 'service' in row['title'].lower():
        row['Service'] = 1
    if 'system' in row['title'].lower():
        row['System'] = 1
    if 'infra' in row['title'].lower():
        row['Infra'] = 1
    if 'associate director - it' in row['title'].lower():
        row['associate director - it'] = 1
    return row

# Apply the set_column_values function to each row in the DataFrame
df = df.apply(set_column_values, axis=1)

# Drop any rows where all the new columns have a value of 0
df = df.loc[(df[cols_to_create] != 0).any(axis=1)]

In [28]:
df.shape

(9495, 11)

In [29]:
df.head(20)

,title,job_level,Development,Solution,Quality,Test,Support,Service,System,Infra,associate director - it
0,software engineer,2,1,0,0,0,0,0,0,0,0
1,senior software engineer,3,1,0,0,0,0,0,0,0,0
2,software developer,2,1,0,0,0,0,0,0,0,0
3,senior software engineer,3,1,0,0,0,0,0,0,0,0
4,software engineer,2,1,0,0,0,0,0,0,0,0
5,senior software engineer,3,1,0,0,0,0,0,0,0,0
6,software developer,2,1,0,0,0,0,0,0,0,0
7,solutions architect,2,0,1,0,0,0,0,0,0,0
8,systems engineer,2,0,0,0,0,0,0,1,0,0
9,software engineer,2,1,0,0,0,0,0,0,0,0
10,principal software engineer,5,1,0,0,0,0,0,0,0,0
11,senior software engineer,3,1,0,0,0,0,0,0,0,0
12,software development engineer,2,1,0,0,0,0,0,0,0,0
13,senior software engineer,3,1,0,0,0,0,0,0,0,0
14,software engineer,2,1,0,0,0,0,0,0,0,0
15,senior systems architect,3,0,0,0,0,0,0,1,0,0
16,lead systems architect,5,0,0,0,0,0,0,1,0,0
17,software development engineer,2,1,0,0,0,0,0,0,0,0
18,software development engineer,2,1,0,0,0,0,0,0,0,0
19,senior software engineer,3,1,0,0,0,0,0,0,0,0

In [30]:
df.to_csv('job_levels_types.csv', index=False)